@import "tw-animate-css";
@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(4, 131, 95, 0.1);
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media print {
    nav,
    aside,
    header,
    footer {
        display: none !important;
    }

    button {
        display: none !important;
    }

    body * {
        visibility: hidden;
    }

    .print-area,
    .print-area * {
        visibility: visible;
    }

    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    html, body {
        height: auto;
        overflow: hidden;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;

}
}

/* Para Firefox*/
@-moz-document url-prefix() {
    input[type="date"] {
        display: flex;
        align-items: center;
    }

    input[type="date"]::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

/* Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}