@import "tw-animate-css";
@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(4, 131, 95, 0.1);
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
}